.NavTop.navbar-expand{
    padding-top: 2em;
    padding-bottom: 1em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.NavTop h3{
    margin: 0;
    font-weight: bold;
}